@{
    ViewData["Title"] = "Home Page";
}

<div class="container" style="padding-top: 24px">
    <div class="row">
        <div class="col-sm-8">
            @using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <input type="file" name="file" id="upload" style="display: none" onchange="$('#submit').click();" />
                <input type="button" value="Upload a Photo" class="btn btn-primary btn-lg" onclick="$('#upload').click();" />
                <input type="submit" id="submit" style="display: none" />
            }
        </div>
        <div class="col-sm-4 pull-right">
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-sm-12">
            @foreach (var filename in ViewBag.Thumbnails)
            {
                <a href="~/Photos/@filename" rel="lightbox">
                    <img src="~/Photos/@filename" width="192" style="padding-right: 16px; padding-bottom: 16px" />
                </a>
            }
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        if ("@TempData["Message"]" !== "") {
            alert("@TempData["Message"]");
        }
    </script>
}